@import '../../variables';

.host-picture {
    border-radius: 50%;
}

.presentation-container {
    color: $colour-primary;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title-container {
        .title {
            font-size: 2.25rem;
            width: 100%;
            margin-top: 1rem;
        }
        .location {
            margin-bottom: 1rem;
        }
    }
    .host-container {
        text-align: end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-bottom: 1rem;
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}

.dropdowns {
    display: flex;
    justify-content: space-between;
}
