#root {
  font-family: "Montserrat";
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
}

main {
  margin: 0rem 1.25rem;
}

.header-nav {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

@media only screen and (max-width: 767.98px) {
  .header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 1.25rem;
  }
  .header-desktop a {
    font-size: 0.9rem;
    padding-left: 0.6rem;
    color: #FF6060;
  }

  .logo {
    height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 1.25rem;
  }
  .header-desktop a {
    font-size: 1.75rem;
    padding-left: 3.5rem;
    color: #FF6060;
  }

  .logo {
    height: 4.3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .banner {
    display: flex;
    align-items: center;
  }
  .banner img {
    object-fit: cover;
    size: 0.5vw;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    filter: brightness(70%);
  }
  .banner figcaption {
    position: absolute;
    width: 62%;
    color: white;
    font-size: 24px;
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .banner {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner img {
    object-fit: cover;
    size: 0.5vw;
    width: 100%;
    height: 14rem;
    border-radius: 1rem;
    filter: brightness(70%);
  }
  .banner figcaption {
    position: absolute;
    color: white;
    font-size: 48px;
  }
}
@media only screen and (max-width: 767.98px) {
  .thumb {
    display: flex;
    width: 21rem;
    margin-top: 3rem;
  }
  .thumb figure {
    position: relative;
  }
  .thumb img {
    object-fit: cover;
    background-color: #FF6060;
    border-radius: 0.6rem;
    width: 21rem;
    height: 16rem;
  }
  .thumb figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 20px;
    border-radius: 0.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .thumb {
    display: flex;
    width: 21rem;
    height: 21rem;
    margin-top: 3rem;
  }
  .thumb figure {
    position: relative;
  }
  .thumb img {
    object-fit: cover;
    background-color: #FF6060;
    border-radius: 0.6rem;
    width: 21rem;
    height: 21rem;
  }
  .thumb figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 20px;
    border-radius: 0.6rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer {
    background-color: black;
    color: white;
    text-align: center;
  }
  .footer p {
    margin: 0;
    font-size: 3vw;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .footer-logo {
    height: 2.5rem;
    margin-top: 4rem;
  }
  .footer-logo path {
    fill: white;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    background-color: black;
    color: white;
    text-align: center;
  }
  .footer.apropos {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-logo {
    height: 2.5rem;
    margin-top: 4rem;
  }
  .footer-logo path {
    fill: white;
  }
}
@media only screen and (max-width: 767.98px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    border-radius: 2.5rem;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F6F6F6;
    padding: 0 3rem 3rem 3rem;
    border-radius: 2.5rem;
    margin: 3rem 0 3rem 0;
  }
}

/*# sourceMappingURL=accueil.css.map */
