.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.logo {
    height: 4.3rem;
}

.header-nav {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

a {
    padding-left: 3.5rem;
    color: #FF6060;
}