@import '../../variables';

// **************** MOBILE ******************************
@media only screen and (max-width: 767.98px){

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        margin: 1.25rem 1.25rem;
        a {
            font-size: 0.9rem;
            padding-left: 0.6rem;
            color: $colour-primary;
        }        
        .logo {
            flex-grow: 2;
            img {
            height: 3rem;
            }
        }
    }

}

// **************** DESKTOP ******************************
@media only screen and (min-width: 768px){

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        margin: 2.5rem 6rem;
        a {
            font-size: 1.75rem;
            padding-left: 3.5rem;
            color: $colour-primary;
        }
        .logo {
            flex-grow: 2;
            padding: 0;
            img {
                height: 4.3rem;
            }
        }
    }
    
}